.App {
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.grid-container {
  display: flex;
  flex-wrap: wrap;
  width: min(100%, 1200px);
  margin: auto;
}

.grid-cell {
  aspect-ratio: 1;
  box-sizing: border-box;
  border: 1px solid rgba(1, 1, 1, 0.1);
  background-size: contain;
  background-repeat: no-repeat;
}

.start {
  transition: background-color 0.2s;
  background-image: url(./assets/bug.svg);
}

.finish {
  background-image: url(./assets/leaf.svg);
}

.finish > i {
  color: red;
}

.grid-cell:hover {
  background: limegreen;
}